<div class="container-fluid">
  <h3 class="section-heading">Sample Board</h3>
  <button type="button" class="btn btn-primary btn-sm float-right" (click)="addList()">Add new List</button>
  <div class="row">
    <div class="col-md-4" *ngFor="let list of board">
      <div class="drag-container">
        <div class="section-heading text-primary"> {{list.id}}
          <button type="button" class="btn btn-outline-danger btn-sm float-right" (click)="deleteList(list.id)">Delete
            {{list.id}}</button>
        </div>

        <div cdkDropList id="{{list.id}}" [cdkDropListData]="list.list" [cdkDropListConnectedTo]="connectedTo"
          class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let listItem of list.list" cdkDrag (click)="onView(listItem,list)">{{listItem.cardTitle}}
          </div>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="addNewCard(list.id)">Add new
            Card</button>
        </div>
      </div>
    </div>
  </div>
</div>